[Unit]
Description=Manage ROS2 main launch
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/rover2
User=rover2

# Source ROS2 environment + start launch
ExecStart=/bin/bash /home/rover2/start_rover.sh

# Keep service active after script exits
RemainAfterExit=yes

# Logging
StandardOutput=append:/var/log/rover_launch.log
StandardError=append:/var/log/rover_launch.log

[Install]
WantedBy=multi-user.target
